<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
	<meta charset="utf-8">
	<title>Event Registration</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/app.css"/>
</head>
<body ng-cloak>
<div class ="container">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="/NewEvent.html">Create Event</a></li>

			</ul>

		</div>
	</div>
	<div ng-controller="EventController" style="padding-left:20px; padding-right:20px">



	<img ng-show ="boolValue" ng-src="{{event.imageUrl}}" alt="{{event.name}}"/>
	<!-- <img ng-hide ="boolValue" ng-src="{{event.imageUrl}}" alt="{{event.name}}"/> -->
	<button type="button" class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>
	<div class ="row">
		<div class="spann11">
			<h2 ng-style="mystyle">{{event.name}}</h2>
			<br />
		</div>
	</div>
	<div class ="row">
		<div class="span3">
			<div><strong>Date:</strong> {{event.date | date:'medium'}}</div>
			<div><strong>Heure:</strong> {{event.time}}</div>
		</div>
		<div class="span4">
		<address>
			<strong>Adresse: </strong> 
			{{event.location.address}}</br>
			{{event.location.city}}, {{event.location.province}}
		</address>
		</div>
	</div>		

	<hr />
	<h3>Sessions</h3>
	<table style="width:100%">
	<tr>
	<td>
	Ordonner par :<br/><br/>
	<select ng-model="sortorder" class="input-medium">
		<option selected value="name">Nom de la session</option>
		<option value="-upVoteCount">Nombre de participants</option>
		<option value="price">Prix</option>
		<option value="duration">Durée</option>
		<!-- <option value="level">Niveau</option>
		<option value="coach">coach sportif</option> -->
	</select> <br/><br/>
	</td>
	<td>
	Filtrer par niveau :<br/><br/>
	<select ng-model="query.level" class="input-medium">
		<option selected value="">Tous les niveaux</option>
		<option value="débutant">Débutant</option>
		<option value="professionnel">Professionnel</option>
	</select> <br/><br/>
	</td>
	<td>
	Filtrer par coach :<br/><br/>
	<select ng-model="query.coach" class="input-medium">
		<option selected value="">Tous les coachs</option>
		<option value="assane">Assane Thiam</option>
		<option value="tarik">Tarik Yacoubi</option>
	</select> <br/><br/>
	</td>
	</tr>
	</table>

	<ul class="thumbnails">
		<li ng-repeat="session in event.sessions | orderBy:sortorder | filter:query" class="span11" id="session{{session.id}}">
				
				<div class="row session">
						<div class="span0 well votingWidget">
							<div class="votingButton" ng-click="upVoteSession(session)">
								<i class="icon-chevron-up icon-white"></i>
							</div>
							<div class="badge badge-inverse">
									<div>{{session.upVoteCount}}</div>
							</div>
							<div class="votingButton" ng-click="downVoteSession(session)">
								<i class="icon-chevron-down"></i>
							</div>
						</div>
						<div class="well span9">
							<h4 class ="well-title">{{session.name}}</h4>
							<h6 style="margin-top:-10px">Coach : {{session.coach}}</h6>
							<span>Durée : {{session.duration | durations}}</span><br/>
							<span>Niveau : {{session.level}}</span><br/>
							<span>Prix: {{session.price | currency : "€"}}</span><br/><br/>
							<p>{{session.abstract}}</p>
						</div>
				</div>
		</li>
	</ul>


</div>
</div>

<script src="/lib/jquery.min.js" ></script>
<script src="/lib/underscore-1.4.4.min.js" ></script>
<script src="/lib/bootstrap.min.js" ></script>
<script src="/lib/angular/angular.js" ></script>
<script src="/lib/angular/angular-sanitize.js" ></script>
<script src="/lib/angular/angular-resource.js" ></script>
<script src="/js/app.js" ></script>
<script src="/js/services/EventData.js" ></script>
<script src="/js/controllers/EventController.js" ></script>
<script src="/js/filters.js" ></script>


</body>
</html>